homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: 47.099454
  longitude: -122.397219
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 116
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Los_Angeles
  # Customization file
  customize: !include customize.yaml

# Show links to resources in log and frontend
# introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

# Sensors
sensor:
  # Weather prediction
  - platform: yr

# Text to speech
tts:
  - platform: google

# Cloud
cloud:

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml

# My Additions
zone:
  name: Home
  latitude: 47.099454
  longitude: -122.397219
  radius: 30
  icon: mdi:home
 
ios:

light:
  - platform: template
    lights:
      goal_light:
        friendly_name: "Goal light"

        turn_on:
        - data:
            entity_id: input_boolean.goaling
          service: input_boolean.turn_on
        - data:
            entity_id: script.goal_start
          service: script.turn_on

        turn_off:
        - data:
            entity_id: script.goal_stop
          service: script.turn_on
        - data:
            entity_id: input_boolean.goaling
          service: input_boolean.turn_off

        set_level:

  - platform: template
    lights:
      test_light:
        friendly_name: "Test light"
        turn_on:

        turn_off:

        set_level:

  - platform: template
    lights:
      watch_hockey:
        friendly_name: "Watch hockey"
        turn_on:
          data:
            message: ''
          service: notify.start_hockey
        turn_off:
          data:
            message: ''
          service: notify.stop_hockey
        set_level:
          data:
            message: ''
          service: notify.start_hockey

notify:
  - platform: rest
    resource: http://192.168.1.148:5000/hockey/
    method: GET
    name: start_hockey
  - platform: rest
    resource: http://192.168.1.148:5000/stop_hockey/
    method: GET
    name: stop_hockey


emulated_hue:
  host_ip: 192.168.1.145
  listen_port: 80
  upnp_bind_multicast: true
  off_maps_to_on_domains:
    - script
  expose_by_default: false
  exposed_domains:
    - script
    - light
  entities:
    light.watch_hockey:
      hidden: false
    light.computer:
      hidden: false
    light.tv:
      hidden: false
    light.goal_light:
      hidden: false


python_script:

logger:
  default: info

input_boolean:
  goaling:
    name: Goaling
    initial: off
  light_saved:
    name: Light on/off saved
    initial: off

input_number:
  goalfeed:
    name: Goalfeed delay
    initial: 30
    min: 0
    max: 180
    step: 1
  brightness_saved:
    name: Brightness saved
    initial: 255
    min: 0
    max: 255
    step: 1
  color_temp_saved:
    name: Color temp saved
    initial: 400
    min: 1
    max: 500
    step: 1

goalfeed:
  username: !secret goalfeed_username
  password: !secret goalfeed_password
